NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://username:password@ep-cool-neon-region-pooler.us-east-1.aws.neon.tech/budgetify?sslmode=require&channel_binding=require"
DIRECT_DATABASE_URL="postgresql://username:password@ep-cool-neon-region.us-east-1.aws.neon.tech/budgetify?sslmode=require&channel_binding=require"

JWT_ACCESS_SECRET="replace-with-a-long-random-access-secret-of-at-least-32-chars"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET="replace-with-a-long-random-refresh-secret-of-at-least-32-chars"
JWT_REFRESH_EXPIRES_IN=7d

GOOGLE_CLIENT_ID="your-google-web-client-id.apps.googleusercontent.com"
# GOOGLE_CLIENT_IDS="your-google-web-client-id.apps.googleusercontent.com,your-google-ios-client-id.apps.googleusercontent.com"
